<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WallpapaerDemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>754A5D581C2A90DA0000E8A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>754A5D6C1C2A90DA0000E8A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>754A5D771C2A90DA0000E8A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
